.containerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.inputLogin{
    display: flex;
    flex-direction: column;
}


.inputLogin input{
    background: #E8E8E8;
    box-shadow: 0px 0px 22px 0px #67676730;
}

.login{
    text-decoration: underline;
}

.backSite {
    text-decoration: underline;
}

.inputLogin input{
    padding-left: 20px;
}

.adminMenu{
    margin-top: 50px;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

.pointInAdminPage div{
    display: flex;
    flex-direction: column;
}

.adminForm{
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1920px){
    .headerLogin{
        font-size: 35px;
        font-weight: 600;
        margin: 30px 0;
    }

    .inputLogin input{
        font-weight: 500;
        font-size: 20px;
        margin: 15px 0;
        width: 400px;
        height: 60px;
        border-radius: 15px;
    }

    .login{
        font-size: 25px;
        margin: 10px 0;
    }

    .backSite {
        margin-top: 200px;
        font-size: 25px;
    }

    .pointInAdminPage{
        font-size: 25px;
        margin-bottom: 30px;
    }

    .pointInAdminPage div {
        margin-top: 15px;
    }

    .pointInAdminPage div input{
        margin-bottom: 15px;
    }

    .adminSection{
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        width: 1300px;
    }

    .adminForm select {
        height: 60px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 500;
        color: rgb(50, 50, 50);
        padding-left: 20px;
        border-color: black;
        border-width: 2px;
    }

    .adminForm input{
        height: 60px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 500;
        color: rgb(50, 50, 50);
        padding-left: 20px;
    }

    .adminForm button {
        height: 50px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 500;
    }

    .adminForm label{
        color: rgb(73, 73, 73);
        width: 100%;
    }

    .adminForm textarea{
        padding: 10px 0 0 20px;
        min-height: 200px;
        margin-bottom: 30px;
        border-radius: 15px;
        border-width: 2px;
        font-size: 25px;
        font-weight: 500;
    }

    .textPointInAdminPage{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }


}

@media screen and (min-width: 1280px) and (max-width: 1919px){
    .adminForm select {
        height: 60px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 500;
        color: rgb(50, 50, 50);
        padding-left: 20px;
        border-color: black;
        border-width: 2px;
    }

    .adminForm input{
        height: 60px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 500;
        color: rgb(50, 50, 50);
        padding-left: 20px;
    }

    .adminForm button {
        height: 50px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: 500;
    }

    .textPointInAdminPage{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){

}

@media screen and (min-width: 640px) and (max-width: 959px){

}

@media screen and (min-width: 340px) and (max-width: 639px){
    
}