.mobilePhoneContacts, .timeContacts, .locationContacts{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.containerMapContactsPage YMaps{
    border-radius: 15px;
}

.containerContactsPage{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
}

@media screen and (min-width: 1920px){
    .headerContacts{
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        margin-bottom: 50px;
    }

    .mobilePhoneContacts, .timeContacts, .locationContacts{
        margin: 30px 0;
    }

    .mobilePhoneContacts img, .timeContacts img, .locationContacts img{
        margin-right: 40px;
        width: 70px;
    }

    .mobilePhoneContacts p, .timeContacts p, .locationContacts p{
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
    }

    .containerMapContactsPage{
        margin: 60px 0 0 0;
    }

    .mapContactsPage{
        width: 1000px;
        height: 450px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
    .headerContacts{
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
    }

    .mobilePhoneContacts, .timeContacts, .locationContacts{
        margin: 20px 0;
        
    }

    .mobilePhoneContacts img, .timeContacts img, .locationContacts img{
        margin-right: 15px;
        width: 50px;
    }

    .mobilePhoneContacts p, .timeContacts p, .locationContacts p{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .containerMapContactsPage{
        width: 55%;
        margin: 40px 0 0 0;
    }

    .mapContactsPage{
        height: 250px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .headerContacts{
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        margin-bottom: 40px;
    }

    .mobilePhoneContacts, .timeContacts, .locationContacts{
        margin: 20px 0;
    }

    .mobilePhoneContacts img, .timeContacts img, .locationContacts img{
        margin-right: 35px;
        width: 45px;
    }

    .mobilePhoneContacts p, .timeContacts p, .locationContacts p{
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
    }

    .containerMapContactsPage{
        margin: 30px 0 0 0;
    }

    .mapContactsPage{
        width: 500px;
        height: 280px;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px){
    .containerContactsPage{
        align-items: start;
        flex-direction: column;
        height: 570px;
    }

    .headerContacts{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .mobilePhoneContacts, .timeContacts, .locationContacts{
        margin: 25px 0;
    }

    .mobilePhoneContacts img, .timeContacts img, .locationContacts img{
        margin-right: 15px;
        width: 35px;
    }

    .mobilePhoneContacts p, .timeContacts p, .locationContacts p{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .containerMapContactsPage{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .mapContactsPage{
        height: 280px;
    }
}

@media screen and (min-width: 340px) and (max-width: 639px){
    .containerContactsPage{
        align-items: start;
        flex-direction: column;
    }

    .headerContacts{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .mobilePhoneContacts, .timeContacts, .locationContacts{
        margin: 25px 0;
    }

    .mobilePhoneContacts img, .timeContacts img, .locationContacts img{
        margin-right: 15px;
        width: 35px;
    }

    .mobilePhoneContacts p, .timeContacts p, .locationContacts p{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .containerMapContactsPage{
        margin: 10px 0 0 0;
    }

    .mapContactsPage{
        width: 340px;
        height: 250px;
    }
}