.textAboutBranche {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textAboutBranche p{
    text-align: justify;
}

.textAboutBranche img {
    border-radius: 17px;
}

.function{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.function div {
    border-radius: 19px;
    box-shadow: 0px 0px 22px 0px #67676730;
    display: flex;
    align-items: center;
}

.function3Elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.function3Elements div{
    border-radius: 19px;
    box-shadow: 0px 0px 22px 0px #67676730;
    display: flex;
    align-items: center;
}

.function5Elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.function5Elements div{
    border-radius: 19px;
    box-shadow: 0px 0px 22px 0px #67676730;
    display: flex;
    align-items: center;
}

.lineBranche hr{
    border: 1px solid #000000;
}

.leftChannelsBranche {
    display: flex;
    flex-direction: column;
}

.rightChannelsBranche{
    border-radius: 19px;
    box-shadow: 0px 0px 22px 0px #67676730;
}

 .containerChannelsBranche{
    display: flex;
    align-items: end;
    justify-content: space-between;
 }

 .listChannels{
    display: flex;
    flex-wrap: wrap;
 }

 .containerContactsBranche{
    display: flex;
    align-items: end;
    justify-content: space-between;
 }

 .containerMap YMaps {
    border-radius: 17px;
}

 .map{
    filter: brightness(95%);
 }

 .rightChannelsTextAboutBranche p{
    text-align: justify;
}

.containerLeftChannelsBrancheV2{
    display: flex;
    justify-content: space-between; 
}

.containerTextChannelsBranche{
    display: flex;
    justify-content: space-between;
}

.structureBranche{
    border-radius: 19px;
    box-shadow: 0px 0px 22px 0px #67676730;
}

.pointsStructureBranche{
    display: flex;
    justify-content: space-between;
}

#uliyanovskPicture {
    width: 100%;
}

.bannerBranche {
    position: relative;
    text-align: center;
  }

  .bannerBrancheImage{
    border-radius: 17px;
  }
  
  .bannerBrancheImage img {
    border-radius: 17px;
    width: 100%;
    filter: brightness(40%);
  }
  
  .headerBannerBranche {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .propertyBannerBranche {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .volumePropertyBannerBranche,
  .namePropertyBannerBranche {
    color: white;
    text-align: center;
  }

  .structure6Elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .oneElementStructure6Elements{
    box-shadow: 0px 0px 22px 0px #67676730;
    border-radius: 19px;
  }

  .textStructure6Elements {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }


@media screen and (min-width: 1920px){
    .mainHeaderBranche{
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        width: 100%;
    }

    .textAboutBranche p{
        font-size: 25px;
        font-weight: 400;
        line-height: 36px;
        margin: 50px 0;
    }

    .textAboutBranche img{
        max-height: 480px;
    }

    .firstImageBranche{
        width: 60%;
    }

    .secondImageBranche{
        width: 34%;
    }

    .headerFunctionBranche{
        margin: 120px 0 40px 0 ;
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
    }

    .function div {
        width: 860px;
        margin: 20px 0;
    }

    .function div p {
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        padding: 40px 70px;
    }

    .function3Elements div:nth-child(1),
    .function3Elements div:nth-child(2){
        width: 45%;
    }

    .function3Elements div{
        padding: 35px;
        margin: 20px 0;
    }

    .function3Elements div p{
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
    }

    .function5Elements div:nth-child(1),
    .function5Elements div:nth-child(2),
    .function5Elements div:nth-child(3),
    .function5Elements div:nth-child(4){
        width: 45%;
    }

    .function5Elements div{
        padding: 35px;
        margin: 20px 0;
    }

    .function5Elements div p{
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
    }

    .lineBranche {
        width: 300px;
        margin: 80px 0;
    }


    .leftChannelsBranche p{
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
        width: 700px;
        margin-bottom: 20px;
    }

    .leftChannelsBranche img {
        width: 75px;
        height: 75px;
        margin-bottom: 20px;
    }

    .rightChannelsBranche{
        width: 900px;
        height: 500px;
    }


    .headerChannelsBranche{
        font-size: 50px;
        font-weight: 600;
        line-height: 61px;
        margin: 40px 0 20px 40px;
    }

    .channel{
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        color: #00000099;
        margin: 10px 0 10px 40px;
        width: 350px;
    }

    .infoChannels {
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        margin: 25px 0 25px 40px;
    }

    .contactsBranche{
        width: 900px;
    }

    .headerContactsBranche{
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        margin: 100px 0 60px 0;
    }

    .mobilePhoneContactsBranche,
    .emailContactsBranche,
    .locationContactsBranche {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }
    

    .mobilePhoneContactsBranche img,
    .emailContactsBranche img,
    .locationContactsBranche img{
        width: 75px;
        height: 75px;
        margin-right: 50px;
    }

    .mobilePhoneContactsBranche p,
    .emailContactsBranche p,
    .locationContactsBranche p{
        font-size: 40px;
        font-weight: 600;
        line-height: 56px;
    }

    .map {
        margin: 0 0 80px 10px;
        width: 900px;
        height: 500px;
    }

    .rightChannelsTextAboutBranche{
        width: 750px;
        height: 440px;
        margin-bottom: 20px;
    }

    .rightChannelsTextAboutBranche p{
        font-size: 30px;
        font-weight: 400;
        line-height: 44px;
    }


    .leftChannelsBrancheV3 img {
        margin-bottom: 25px;
    }

    .leftChannelsBrancheV3:nth-child(2) img{
        margin-top: 75px;
    }

    .leftChannelsBrancheV3 p{
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
    }

    .firstTextChannelsBranche {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 15px;
    }

    .secondTextChannelsBranche{
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
    }

    .textChannelsBranche{
        width: 30%;
    }

    #uliyanovskPicture {
        height: 480px;
    }

    .structureBranche{
        width: 52%;
    }

    .headerStructureBranche{
        font-size: 50px;
        font-weight: 600;
        line-height: 61px;
        margin: 40px;
    }

    .pointsStructureBranche{
        margin: 40px;
    }

    .onePointStructureBranche{
        width: 250px;
    }

    .numberStructureBranche{
        font-size: 70px;
        font-weight: 500;
        line-height: 85px;
    }

    .textStructureBranche{
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
    }

    .infoStructureBranche{
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        margin: 50px 40px 80px 40px;
    }

    .bannerBrancheImage img{
        height: 500px;
    }

    .headerBannerBranche {
        width: 1300px;
        font-size: 50px;
        font-weight: 500;
        line-height: 61px;
    }

    .volumePropertyBannerBranche{
        font-size: 75px;
        font-weight: 700;
        line-height: 91px;
        text-align: left;
        margin-bottom: 15px;
    }

    .namePropertyBannerBranche {
        font-size: 35px;
        font-weight: 500;
        line-height: 43px;
        text-align: left;
    }

    .oneElementStructure6Elements{
        width: 32%;
        height: 300px;
        margin-bottom: 40px;
    }

    .headerStructure6Elements{
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        margin: 30px 0 20px 60px;
    }

    .textStructure6Elements{
        margin: 0 0 40px 40px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        max-width: 500px;
    }

    .textStructure6Elements img{
        margin-right: 40px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
    .mainHeaderBranche{
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        width: 100%;
    }

    .textAboutBranche p{
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        margin: 30px 0 50px 0;
    }

    .textAboutBranche img{
        max-height: 320px;
    }

    .firstImageBranche{
        width: 60%;
    }

    .secondImageBranche{
        width: 34%;
    }

    .headerFunctionBranche{
        margin: 50px 0 40px 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
    }

    .function div {
        width: 48%;
        height: 130px;
        margin: 20px 0;
    }

    .function div p {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        padding: 40px 70px;
    }

    .function3Elements div:nth-child(1),
    .function3Elements div:nth-child(2){
        width: 43%;
    }

    .function3Elements div{
        padding: 35px;
        margin: 15px 0;
    }

    .function3Elements div p{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }

    .lineBranche {
        width: 160px;
        margin: 60px 0;
    }

    .containerLeftChannelsBranche{
        width: 45%;
        padding-right: 30px;
    }

    .leftChannelsBranche p{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .containerLeftChannelsBrancheV2 p:nth-child(2){
        width: 90%;
    }

    .leftChannelsBranche img {
        width: 75px;
        height: 75px;
        margin-bottom: 20px;
    }

    .rightChannelsBranche{
        width: 60%;
        height: 50%;
    }


    .headerChannelsBranche{
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        margin: 30px 0 20px 30px;
    }

    .channel{
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
        color: #00000099;
        margin: 10px 6% 10px 30px;
        width: 230px;
    }

    .infoChannels {
        font-size: 19px;
        font-weight: 600;
        line-height: 23px;
        margin: 25px 0 25px 30px;
    }

    .headerContactsBranche{
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        margin: 50px 0 30px 0;
    }

    .mobilePhoneContactsBranche,
    .emailContactsBranche,
    .locationContactsBranche {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    

    .mobilePhoneContactsBranche img,
    .emailContactsBranche img,
    .locationContactsBranche img{
        width: 45px;
        height: 45px;
        margin-right: 25px;
    }

    .mobilePhoneContactsBranche p,
    .emailContactsBranche p,
    .locationContactsBranche p{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .map {
        margin: 0 0 25px 10px;
        width: 650px;
        height: 250px;
    }

    .rightChannelsTextAboutBranche{
        width: 600px;
        height: 320px;
    }

    .rightChannelsTextAboutBranche p{
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
    }
    
    .structureBranche{
        width: 53%;
        height: 350px;
    }

    .headerStructureBranche{
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        margin: 30px;
    }

    .pointsStructureBranche{
        margin: 30px;
    }

    .onePointStructureBranche{
        width: 160px;
    }

    .numberStructureBranche{
        font-size: 50px;
        font-weight: 500;
        line-height: 61px;
    }

    .textStructureBranche{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .infoStructureBranche{
        font-size: 19px;
        font-weight: 500;
        line-height: 23px;
        margin: 50px 30px 30px 30px;
    }

    .leftChannelsBrancheV3 img {
        margin: 15px 0;
        width: 56px;
    }

    .leftChannelsBrancheV3 p{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .firstTextChannelsBranche {
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        margin-bottom: 15px;
    }

    .secondTextChannelsBranche{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .textChannelsBranche{
        width: 30%;
    }

    .function5Elements div:nth-child(1),
    .function5Elements div:nth-child(2),
    .function5Elements div:nth-child(3),
    .function5Elements div:nth-child(4){
        width: 42%;
    }

    .function5Elements div{
        padding: 35px;
        margin: 20px 0;
    }

    .function5Elements div p{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    .bannerBrancheImage img{
        height: 330px;
    }

    .headerBannerBranche {
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
        width: 900px;
    }

    .volumePropertyBannerBranche{
        font-size: 50px;
        font-weight: 700;
        line-height: 61px;
        text-align: left;
        margin-bottom: 15px;
    }

    .namePropertyBannerBranche {
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        text-align: left;
    }

    .oneElementStructure6Elements{
        width: 32%;
        height: 230px;
        margin-bottom: 40px;
    }

    .headerStructure6Elements{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin: 30px 0 20px 30px;
    }

    .textStructure6Elements{
        margin: 0 0 30px 25px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        max-width: 350px;
    }

    .textStructure6Elements img{
        width: 50px;
        margin-right: 25px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .mainHeaderBranche{
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        width: 100%;
    }

    .textAboutBranche p{
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        margin: 40px 0;
    }

    .textAboutBranche img{
        max-height: 280px;
    }

    .firstImageBranche{
        width: 56%;
    }

    .secondImageBranche{
        width: 42%;
    }

    .headerFunctionBranche{
        margin: 40px 0 30px 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
    }

    .function div {
        width: 48%;
        height: 130px;
        margin: 20px 0;
    }

    .function div p {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        padding: 30px 20px;
    }

    .function3Elements div:nth-child(1),
    .function3Elements div:nth-child(2){
        width: 45%;
    }

    .function3Elements div{
        padding: 20px;
        margin: 10px 0;
    }

    .function3Elements div p{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    .lineBranche {
        width: 160px;
        margin: 40px 0;
    }

    .containerLeftChannelsBranche{
        width: 45%;
        padding-right: 30px;
    }

    .leftChannelsBranche p{
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .leftChannelsBranche img {
        width: 55px;
        height: 55px;
        margin-bottom: 20px;
    }

    .rightChannelsBranche{
        width: 60%;
        height: 50%;
    }


    .headerChannelsBranche{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 30px 0 20px 30px;
    }

    .channel{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #00000099;
        margin: 7px 6% 7px 30px;
        width: 200px;
    }

    .infoChannels {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 25px 0 25px 30px;
    }

    .headerContactsBranche{
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        margin: 50px 0 30px 0;
    }

    .mobilePhoneContactsBranche,
    .emailContactsBranche,
    .locationContactsBranche {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    

    .mobilePhoneContactsBranche img,
    .emailContactsBranche img,
    .locationContactsBranche img{
        width: 45px;
        height: 45px;
        margin-right: 25px;
    }

    .mobilePhoneContactsBranche p,
    .emailContactsBranche p,
    .locationContactsBranche p{
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    .map {
        margin: 0 0 25px 10px;
        width: 480px;
        height: 250px;
    }

    .rightChannelsTextAboutBranche{
        width: 45%;
        margin-bottom: 20px;
    }

    .rightChannelsTextAboutBranche p{
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
    }

    .leftChannelsBrancheV3 img {
        margin: 15px 0;
        width: 56px;
    }

    .leftChannelsBrancheV3 p{
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
    }

    .firstTextChannelsBranche {
        font-size: 30px;
        font-weight: 700;
        line-height: 37px;
        margin-bottom: 15px;
    }

    .secondTextChannelsBranche{
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
    }

    .textChannelsBranche{
        width: 30%;
    }

    .structureBranche{
        width: 53%;
    }

    .headerStructureBranche{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 35px 20px 25px 20px;
    }

    .pointsStructureBranche{
        margin: 20px;
    }

    .onePointStructureBranche{
        width: 145px;
    }

    .numberStructureBranche{
        font-size: 40px;
        font-weight: 500;
        line-height: 49px;
    }

    .textStructureBranche{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .infoStructureBranche{
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 35px 40px 40px 20px;
    }

    .function5Elements div:nth-child(1),
    .function5Elements div:nth-child(2),
    .function5Elements div:nth-child(3),
    .function5Elements div:nth-child(4){
        width: 42%;
    }

    .function5Elements div{
        padding: 20px;
        margin: 10px 0;
    }

    .function5Elements div p{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    .bannerBrancheImage img{
        height: 280px;
    }

    .headerBannerBranche {
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        width: 700px;
    }

    .volumePropertyBannerBranche{
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: left;
        margin-bottom: 10px;
    }

    .namePropertyBannerBranche {
        font-size: 22px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;        
    }

    .oneElementStructure6Elements{
        width: 32%;
        height: 220px;
        margin-bottom: 20px;
    }

    .headerStructure6Elements{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 30px 0 15px 30px;
    }

    .textStructure6Elements{
        margin: 0 0 25px 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        max-width: 350px;
    }

    .textStructure6Elements img{
        width: 40px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px){
    .mainHeaderBranche{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
    }

    .textAboutBranche p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 30px 0;
    }

    .textAboutBranche img{
        max-height: 200px;
    }

    .firstImageBranche{
        width: 100%;
    }

    .secondImageBranche{
        display: none;
    }

    .headerFunctionBranche{
        margin: 40px 0 20px 0;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }

    .function div {
        width: 48%;
        height: 120px;
        margin: 20px 0;
    }

    .function div p {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        padding: 30px 20px;
    }

    .function3Elements div:nth-child(1),
    .function3Elements div:nth-child(2){
        width: 42%;
    }

    .function3Elements div{
        padding: 20px;
        margin: 10px 0;
    }

    .function3Elements div p{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    .lineBranche {
        width: 160px;
        margin: 40px 0;
    }

    .containerChannelsBranche{
        flex-wrap: wrap;
    }

    .containerLeftChannelsBranche{
        width: 100%;
    }

    .leftChannelsBranche p{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .leftChannelsBranche img {
        width: 55px;
        height: 55px;
        margin-bottom: 10px;
    }

    .rightChannelsBranche{
        width: 100%;
        height: 50%;
    }


    .headerChannelsBranche{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 20px 0 15px 30px;
    }

    .channel{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #00000099;
        margin: 7px 6% 7px 30px;
        width: 200px;
    }

    .infoChannels {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 15px 0 25px 30px;
    }

    .headerContactsBranche{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin: 50px 0 30px 0;
    }

    .mobilePhoneContactsBranche,
    .emailContactsBranche,
    .locationContactsBranche {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    

    .mobilePhoneContactsBranche img,
    .emailContactsBranche img,
    .locationContactsBranche img{
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .mobilePhoneContactsBranche p,
    .emailContactsBranche p,
    .locationContactsBranche p{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    .map {
        margin: 0 0 25px 10px;
        width: 320px;
        height: 225px;
    }

    .rightChannelsTextAboutBranche{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .rightChannelsTextAboutBranche p{
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
    }

    .containerLeftChannelsBrancheV2{
        flex-direction: column; 
    }

    .leftChannelsBrancheV3 img {
        margin: 30px 0 10px 0;
        width: 56px;
    }

    .leftChannelsBrancheV3 p{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    .firstTextChannelsBranche {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .secondTextChannelsBranche{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    .textChannelsBranche{
        width: 30%;
    }

    .headerStructureBranche{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 30px;
    }

    .pointsStructureBranche{
        margin: 30px;
    }

    .onePointStructureBranche{
        width: 145px;
    }

    .numberStructureBranche{
        font-size: 40px;
        font-weight: 500;
        line-height: 49px;
    }

    .textStructureBranche{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .infoStructureBranche{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 30px;
    }

    .function5Elements div:nth-child(1),
    .function5Elements div:nth-child(2),
    .function5Elements div:nth-child(3),
    .function5Elements div:nth-child(4){
        width: 42%;
    }

    .function5Elements div{
        padding: 20px;
        margin: 10px 0;
    }

    .function5Elements div p{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    .bannerBrancheImage img{
        height: 190px;
    }

    .headerBannerBranche {
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        width: 500px;
    }

    .volumePropertyBannerBranche{
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        text-align: left;
        margin-bottom: 5px;
    }

    .namePropertyBannerBranche {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;        
    }

    .oneElementStructure6Elements{
        width: 48%;
        height: 220px;
        margin-bottom: 30px;
    }

    .headerStructure6Elements{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 30px 0 15px 30px;
    }

    .textStructure6Elements{
        margin: 0 0 25px 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        max-width: 350px;
    }

    .textStructure6Elements img{
        width: 40px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 340px) and (max-width: 639px){
    .mainHeaderBranche{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        width: 100%;
    }

    .textAboutBranche p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 30px 0;
    }

    .textAboutBranche img{
        max-height: 200px;
    }

    .firstImageBranche{
        width: 100%;
    }

    .secondImageBranche{
        display: none;
    }

    .headerFunctionBranche{
        margin: 40px 0 20px 0;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }

    .function div {
        width: 100%;
        height: 120px;
        margin: 10px 0;
    }

    .function div p {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        padding: 30px 20px;
    }

    .function3Elements div{
        padding: 15px;
        margin: 10px 0;
    }

    .function3Elements div p{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    .lineBranche {
        width: 160px;
        margin: 40px 0;
    }

    .containerChannelsBranche{
        flex-wrap: wrap;
    }

    .containerLeftChannelsBranche{
        width: 100%;
    }

    .leftChannelsBranche p{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .leftChannelsBranche img {
        width: 55px;
        height: 55px;
        margin-bottom: 10px;
    }

    .rightChannelsBranche{
        width: 100%;
        height: 50%;
    }


    .headerChannelsBranche{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 20px 0 15px 30px;
    }

    .channel{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #00000099;
        margin: 7px 6% 7px 30px;
        width: 200px;
    }

    .infoChannels {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 15px 0 25px 30px;
    }

    .containerContactsBranche{
        flex-wrap: wrap;
    }

    .headerContactsBranche{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin: 40px 0 30px 0;
    }

    .mobilePhoneContactsBranche,
    .emailContactsBranche,
    .locationContactsBranche {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    

    .mobilePhoneContactsBranche img,
    .emailContactsBranche img,
    .locationContactsBranche img{
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .mobilePhoneContactsBranche p,
    .emailContactsBranche p,
    .locationContactsBranche p{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    .containerMap YMaps {
        border-radius: 0;
    }

    .map {
        margin: 0 0 25px 10px;
        width: 320px;
        height: 225px;
    }
    
    .rightChannelsTextAboutBranche{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .rightChannelsTextAboutBranche p{
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
    }

    .containerLeftChannelsBrancheV2{
        flex-direction: column; 
    }

    #uliyanovskPicture {
        height: 200px;
    }

    .containerTextChannelsBranche{
        flex-direction: column;
    }

    .leftChannelsBrancheV3 img {
        margin: 30px 0 0 0;
        width: 50px;
    }

    .leftChannelsBrancheV3 p{
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
    }

    .firstTextChannelsBranche {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin: 20px 0 15px 0;
    }

    .secondTextChannelsBranche{
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        margin-bottom: 10px;
    }

    .textChannelsBranche{
        width: 100%;
    }

    .headerStructureBranche{
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 20px;
    }

    .pointsStructureBranche{
        margin: 20px;
        flex-wrap: wrap;
    }

    .onePointStructureBranche{
        width: 145px;
    }

    .numberStructureBranche{
        font-size: 40px;
        font-weight: 500;
        line-height: 49px;
    }

    .textStructureBranche{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .infoStructureBranche{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        margin: 20px 50px 20px 20px;
    }

    .function5Elements div{
        padding: 20px;
        margin: 10px 0;
    }

    .function5Elements div p{
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    .bannerBrancheImage img{
        height: 250px;
    }

    .propertyBannerBranche {
        bottom: 10%;
        flex-wrap: wrap;
    }

    .headerBannerBranche {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        width: 320px;
    }

    .volumePropertyBannerBranche{
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .namePropertyBannerBranche {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;     
    }

    .oneElementStructure6Elements{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .headerStructure6Elements{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 30px 0 15px 30px;
        max-width: 300px;
    }

    .textStructure6Elements{
        margin: 0 0 25px 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        max-width: 300px;
    }

    .textStructure6Elements img{
        width: 40px;
        margin-right: 15px;
    }

}