.photo{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
  
.photo img {
    border-radius: 15px;
}

.video {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.video video {
}




@media screen and (min-width: 1920px){
    .photo img{
        width: 560px;
        height: 400px;
        margin-right: 40px;
    }

    .photo{
        margin-bottom: 80px;
    }

    .video {
        width: 560px;
        height: 400px;
    }
    
    .video video {
        width: 560px;
        height: 400px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
    .photo img{
        width: 560px;
        height: 295px;
        margin-right: 40px;
    }

    .photo{
        margin-bottom: 70px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .photo img{
        width: 380px;
        height: 200px;
        margin-right: 20px;
    }

    .photo{
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px){
    .photo img{
        width: 300px;
        height: 200px;
        margin-right: 20px;
    }

    .photo{
        margin-bottom: 70px;
    }
}

@media screen and (min-width: 340px) and (max-width: 639px){
    .photo img{
        width: 235px;
        height: 150px;
        margin-right: 20px;
    }

    .photo{
        margin-bottom: 50px;
    }
}