.containerPerson{
    display: flex;
    flex-wrap: wrap;
}

.onePerson img{
    border-radius: 15px;
}


@media screen and (min-width: 1920px){
    .containerPerson{
        width: 101%;
    }

    
    
    .onePerson{
        display: flex;
        flex-direction: column;
        max-width: 285px;
        margin-bottom: 50px;
        margin-right: 13px;
    }

    .onePerson:nth-child(6n) {
        margin-right: 0; /* У последнего элемента в каждом шестом ряду нет отступа */
      }

    .onePerson img{
        width: 260px;
        height: 295px;
        border-radius: 15px;
    }

    .onePerson p:nth-child(2){
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        margin: 25px 0 10px 0;
    }

    .onePerson p:nth-child(3){
        font-size: 22px;
        font-weight: 500;
        line-height: 27px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
    .containerPerson{
       justify-content: space-between;
    }

    
    .onePerson{
        display: flex;
        flex-direction: column;
        max-width: 260px;
        margin-bottom: 50px;
    }

    .onePerson img{
        width: 260px;
        height: 295px;
    }

    .onePerson p:nth-child(2){
        font-size: 22px;
        font-weight: 600;
        line-height: 27px;
        margin: 25px 0 10px 0;
    }

    .onePerson p:nth-child(3){
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .onePerson{
        display: flex;
        flex-direction: column;
        max-width: 240px;
        margin-bottom: 50px;
    }

    .onePerson img{
        width: 220px;
        height: 220px;
    }

    .onePerson p:nth-child(2){
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin: 20px 0 10px 0;
    }

    .onePerson p:nth-child(3){
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
}

@media screen and (min-width: 640px) and (max-width: 959px){
    .onePerson{
        display: flex;
        flex-direction: column;
        max-width: 150px;
        margin-bottom: 30px;
    }

    .onePerson img{
        width: 140px;
        height: 150px;
    }

    .onePerson p:nth-child(2){
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        margin: 20px 0 10px 0;
    }

    .onePerson p:nth-child(3){
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
}

@media screen and (min-width: 340px) and (max-width: 639px){
    .onePerson{
        display: flex;
        flex-direction: column;
        max-width: 160px;
        margin-bottom: 30px;
    }

    .onePerson img{
        width: 150px;
        height: 150px;
    }

    .onePerson p:nth-child(2){
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        margin: 20px 0 10px 0;
    }

    .onePerson p:nth-child(3){
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }
}