@font-face{
  font-family: 'Montserrat';
  src: url("/src/fonts/Montserrat-VariableFont_wght.ttf")}

* {
  font-family: "Montserrat";
}

.boldText500{
  font-weight: 500;
}

.boldText600{
  font-weight: 600;
}

.boldText700{
  font-weight: 700;
}

html {
  overflow-x: hidden;
}


p {
  display: block;
  white-space: pre-line;
  margin: 0;
}

#text3, #text4{
  position: absolute;
  color: white;
}

.headerSmallMenu{
  display: none;
}

.header {
  display: flex;
}

.headerLine {
  border: 1px solid;
  opacity: 1;
}

.arrowAnons img , .arrowNews img{
  margin-left: 40px;
  margin-top: 15px;
}

.container-banner1{
  position: relative;
  display: flex;
  margin: 30px 0 30px 0;
}

.container-banner1:hover{
  cursor:context-menu;
}

.container-banner1:hover img{
  transform: scale(1.1);
  filter: brightness(70%);
}

.banner {
  overflow: hidden;
  border-radius: 25px;
}

.banner img {
  transition: 1s;
  display: block;
}

.banner2:hover img{
  transform: scale(1.1);
  filter: brightness(70%);
}

.banner2 p{
  cursor:context-menu;
}


.banner2 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  overflow: hidden;
}

.banner2 img {
  transition: 1s;
}

.announcementsItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
	align-content: center;
  border-radius: 15px;
  overflow: hidden;
}


#text1 p, #text2 p, #text3 p, #text4 p{
  margin: 0;
}

#text1 { 
  position: absolute;
  color: white;
}

#text2 {
  position: absolute;
  color: white;
}

.containerBranche {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.containerBranche:hover{
  cursor:context-menu;
}

.branche:hover img{
  transform: scale(1.1);
  filter: brightness(40%);
}

.branche {
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}

.branche img {
  transition: 1s;
  filter: brightness(60%);
}

.linkBranche {
  color: white;
  text-decoration: none;
}

.linkBranche:hover {
  color: white;
  text-decoration: none;
}

.branche p {
  margin: 0;
  position: absolute;
  color: white;
}

.containerFooter{
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 22px 0px rgba(103, 103, 103, 0.19);
}

.footer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footerMenu {
  margin: 50px 0 0 0;
}

.footerMenu div {
  margin: 0 0 20px 0;
}

.footerContacts {
  text-align: right;
  margin: 50px 50px 0 0;
}
.footerContacts p{
  margin: 0 0 20px 0;
}



.containerLink{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.containerLinks{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#rightArrowLinks{
  opacity: 0.3;
  display: none;
}

.menu{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  border-radius: 13px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
}

.submenu {
  z-index: 2;
  position: relative;
}

.submenu:hover .dropdownMenu {
  display: block;
  background-color: white;
}

.submenu:hover #trigger-dropdown {
  position: absolute;
}

.menuLevel1{
  z-index: 1;
}

.menuLevel2 {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 15px 15px;
  z-index: 2;
}

a{
  color: black;
  outline: none;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.containerSlider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  }

.textSlider {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}


.textSlider p:hover {
  text-decoration: underline;
}
  
.textSlider img {
  cursor: pointer;
  margin-left: 40px;
  margin-bottom: 20px;
}
  
.news {
  display: flex;
}


.phoneMenu{
  display: none; /* Изначально скрыть кнопку на больших экранах */
  cursor: pointer;
}

.breadCrumb {
  align-items: center;
}


.breadCrumb .breadCrumbsSeparator{
  text-decoration: none;
}

.breadCrumb a{
  color: #999999;
}



@media screen and (min-width: 1920px){
  body{
    width: 1760px;
    margin-left: auto;
    margin-right: auto;
  }

  .textSlider{
    margin-bottom: 40px;
    
  }

  .header {
    margin: 2% 0 2% 0;
  }

  .mainLogo{
    width: 103px;
    height: 103px;
    margin-right: 5%;
  }

  .textHeaderLevel1{
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    margin: 0 0 1% 0;
  }
    
  .textHeaderLevel2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0%;
  }

  .submenu {
    width: 300px;
  }

  .dropdownMenu{
    padding-top: 40px;
    top: -20%;
    left: -5%;
  }

  .submenu:hover .dropdownMenu {
    width: 400px;
  }

  .menuLevel1{
    font-size: 30px;
    font-weight: 500;
    z-index: 1;
  }
  
  .menuLevel2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0px 15px 15px;
    z-index: 2;
  }

  .banner {
    width: 1760px;
    height: 500px;
  }

  .banner img {
    width: 100%;
    height: 100%;
  }

  #text1 { 
    font-size: 140px;
    font-weight: 800;
    top: 25%;
  }
  
  #text2 {
    font-size: 80px;
    font-weight: 500;
    top: 50%;
  }

  #text3 {
    font-size: 70px;
    font-weight: 800;
  }
  
  #text4 {
    font-size: 24px;
    font-weight: 600;
    bottom: 25%;
  }

  #text1, #text2 {
    margin-left: 5%;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  .textLinks p{
    margin-top: 60px;
  }

  .branche {
    width: 410px;
    height: 200px;
    font-size: 30px;
    font-weight: 600;
  }

  .branche img {
    width: 100%;
    height: 100%;
  }

  .linkBranche{
    margin-bottom: 40px;
  }

  .branche p{
    width: 400px;
  }

  .linkBranche:nth-child(9) .branche,
  .linkBranche:nth-child(10) .branche{
    width: 860px;
  }

  .linkBranche:nth-child(9) .branche p,
  .linkBranche:nth-child(10) .branche p{
    width: 100%;
  }


  .news  p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    max-width: 550px;
    color: rgba(96, 96, 96, 1);
  }

  .news{
    width: 1810px;
  }

  .newsItem{
    margin-right: 50px;
    transition: 0.2s;
  }

  .containerPreviewImageForNewSlider{
    width: 550px;
    height: 250px;
  }

  .newsItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .linkNewSlider {
    font-size: 30px;
    max-width: 550px;
    height: 50px;
    margin-bottom: 70px;
    font-weight: 600;
    text-align: left;
  }

  .announcementsItem img{
    height: 300px;
  }

  .link {
    max-width: 220px;
  }

  .link p{
    font-size: 20px;
    font-weight: 600;
  }
  .link img{
    max-width: 140px;
    max-height: 120px;
    margin-bottom: 40px;
  }

  .footer {
    font-size: 30px;
    font-weight: 500;
    max-height: 263px;
    width: 1780px;
  }

  .footerPicture img {
    margin: 50px;
    width: 170px;
  }


  .newsItem p:nth-child(2){
    margin: 25px 0 10px 0;
  }
 

  .breadCrumb{
    margin: 30px 0;
  }

  .breadCrumb a{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .breadCrumb .breadCrumbsSeparator {
    margin: 2px 12px;
  }

  .textHistory p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }

  .boldTextHistory{
    font-weight: 500;
  }

  .dateHistory{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }

  .thesis{
    margin: 25px 0 0 0;
  }

  .numberThesis{
    margin: 0;
    width: 5%;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }

  .textThesis{
    margin: 0;
    width: 95%;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
  }

  .blockHistory1 {
    box-shadow: 0px 0px 22px 0px #67676730;
    border-radius: 20px;
    padding: 30px 50px;
    margin: 50px 0;
  }

  .blockHistory1 p{
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
  }

  .blockHistory2 {
    box-shadow: 0px 0px 22px 0px #67676730;
    border-radius: 15px;
    padding: 30px 50px;
    margin: 50px 0;
  }

  .blockHistory2 p {
    
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
  }

  .containerLinks{
    margin-top: 60px;
  }

  .plugText{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
  body{
    width: 84%;
    margin-left: auto;
    margin-right: auto;
  }

  .textSlider{
    margin-bottom: 40px;
  }

  .breadCrumb{
    margin: 30px 0;
  }

  .breadCrumb a{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  .breadCrumb .breadCrumbsSeparator {
    margin: 2px 14px;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
  }

  .newsItem{
    margin-right: 40px;
  }

  .newsItem img{
    width: 100%;
    height: 200px;
    border-radius: 19px;
    object-fit: cover;
  }

  .news{
    overflow: hidden;
    width: 1600px;
  }

  .containerPreviewImageForNewSlider{
    width: 460px;
  }

  .newsItem:nth-child(3){
    margin-right: 0;
  }

  .news  p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    max-width: 460px;
    color: rgba(96, 96, 96, 1);
    margin: 20px 0;
  }
  
  .linkNewSlider {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    max-width: 460px;
    height: 50px;
    margin-bottom: 60px;
  }

  .header {
    margin: 2% 0 2% 0;
  }

  .mainLogo{
    width: 103px;
    height: 103px;
    margin-right: 5%;
  }

  .textHeaderLevel1{
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    margin: 2% 0 1% 0;
  }
    
  .textHeaderLevel2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0%;
  }

  .submenu:hover .dropdownMenu {
    width: 240px;
  }

  .submenu {
    width: 220px;
  }

  .dropdownMenu{
    padding-top: 40px;
    top: -50%;
    left: -5%;
  }

  .menuLevel1{
    font-size: 22px;
    font-weight: 500;
    z-index: 1;
  }
  
  .menuLevel2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0px 15px 15px;
    z-index: 2;
  }

  .banner img{
    width: 100%;
  }

  #text1 { 
    font-size: 90px;
    font-weight: 800;
    top: 25%;
  }
  
  #text2 {
    font-size: 60px;
    font-weight: 500;
    top: 50%;
  }

  #text3 {
    font-size: 40px;
    font-weight: 800;
  }
  
  #text4 {
    font-size: 25px;
    font-weight: 600;
    bottom: 25%;
  }

  #text1, #text2 {
    margin-left: 5%;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .linkBranche{
    margin-bottom: 40px;
    width: 30%;
  }

  .branche {
    height: 200px;
    font-size: 22px;
    font-weight: 600;
  }

  .linkBranche img {
    width: 100%;
    height: 100%;
  }

  .branche p{
    width: 400px;
  }

  .linkBranche:nth-child(7),
  .linkBranche:nth-child(8),
  .linkBranche:nth-child(9),
  .linkBranche:nth-child(10){
    width: 48%;
  }

  .news  p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: rgba(96, 96, 96, 1);
  }
  
  .news  p:nth-child(3) {
    font-size: 20px;
    height: 50px;
    max-width: 460px;
    margin-bottom: 70px;
    font-weight: 600;
    text-align: left;
  }

  .news div img{
    max-width: 460px;
  }

  .announcementsItem img{
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .link {
    max-width: 150px;
  }

  .link img {
    max-width: 130px;
    max-height: 100px;
    margin-bottom: 30px;
  }

  .link p{
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
  }

  .footer {
    font-size: 20px;
    font-weight: 500;
    max-height: 263px;
    width: 88%;

  }

  .footerPicture img {
    margin: 50px;
    width: 100px;
  }
  
  .containerLinks{
    margin-top: 50px;
  }
}




@media screen and (min-width: 960px) and (max-width: 1279px){
  body{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    max-width: 150px;
  }

  .link img {
    max-width: 130px;
    max-height: 100px;
  }

  .link p{
    font-size: 14px;
    font-weight: 600;
  }

  .textSlider{
    margin-bottom: 20px;
  }


  .breadCrumb{
    margin: 30px 0;
  }

  .breadCrumb a{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  .breadCrumb .breadCrumbsSeparator {
    margin: 2px 14px;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
  }

  #leftArrowNews{
    display: none;
  }

  #rightArrowNews{
    
  }

  .news{
    width: 990px;
  }

  .newsItem{
    margin-right: 40px;
  }

  .newsItem img{
    width: 460px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .newsItem:nth-child(3){
    margin-right: 0;
  }

  .news  p:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    max-width: 460px;
    color: rgba(96, 96, 96, 1);
    margin: 15px 0;
  }
  
  .linkNewSlider {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    max-width: 460px;
    height: 50px;
    margin-bottom: 45px;
  }

  .header {
    margin: 2% 0 2% 0;
  }

  .mainLogo{
    width: 52px;
    height: 52px;
    margin: 0 2% 0 2%;
  }

  .textHeaderLevel1{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0% 0 1% 0;
  }
    
  .textHeaderLevel2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 0%;
  }

  .submenu:hover .dropdownMenu {
    width: 240px;
  }

  .submenu {
    width: 195px;
  }

  .dropdownMenu{
    padding-top: 40px;
    top: -50%;
    left: -5%;
  }

  .menuLevel1{
    font-size: 20px;
    font-weight: 500;
    z-index: 1;
  }
  
  .menuLevel2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0px 15px 15px;
    z-index: 2;
  }

  .banner img{
    width: 100%;
  }

  #text1 { 
    font-size: 70px;
    font-weight: 800;
    top: 25%;
  }
  
  #text2 {
    font-size: 40px;
    font-weight: 500;
    top: 50%;
  }

  #text1, #text2 {
    margin-left: 5%;
  }

  #text3 {
    font-size: 35px;
    font-weight: 800;
    line-height: 49px;
  }
  
  #text4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    bottom: 25%;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 30px;
    font-weight: 700;
    
    margin-bottom: 20px;
  }

  .linkBranche{
    margin-bottom: 20px;
    width: 32%;
  }

  .branche {
    height: 150px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 0px 22px 0px rgba(103, 103, 103, 0.19);
  }

  .branche img {
    width: 100%;
    height: 100%;
  }


  .linkBranche:nth-child(7),
  .linkBranche:nth-child(8),
  .linkBranche:nth-child(9),
  .linkBranche:nth-child(10){
    width: 49%;
  }

  .announcementsItem img{
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .link {
    max-width: 130px;
  }

  .link img {
    max-width: 105px;
    max-height: 100px;
    margin-bottom: 20px;
  }

  .link p{
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }

  .footer {
    font-size: 12px;
    font-weight: 500;
    width: 1000px;
  }

  .footerPicture img {
    margin: 30px;
    width: 73px;
  }

  .footerMenu {
    margin: 30px 0 0 0;
  }
  
  .footerMenu div {
    margin: 0 0 20px 0;
  }
  
  .footerContacts {
    text-align: right;
    margin: 30px 50px 0 0;
  }
  .footerContacts p{
    margin: 0 0 20px 0;
  }

  .containerLinks{
    margin-top: 40px;
  }

  
}




@media screen and (min-width: 640px) and (max-width: 959px){
  body{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .containerLink{
    overflow: hidden;
  }

  .textSlider{
    margin-bottom: 20px;
  }

  .link {
    max-width: 130px;
    margin-right: 30px;
  }

  .link img {
    max-width: 105px;
    max-height: 100px;
    margin-bottom: 20px;
  }

  .link p{
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    max-width: 120px;
  }

  #rightArrowLinks{
    display: flex;
    margin-bottom: 15px;
  }

  .breadCrumb{
    margin: 30px 0;
  }

  .breadCrumb a{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; 
  }

  .breadCrumb .breadCrumbsSeparator {
    margin: 2px 6px;
  }

  #leftArrowNews{
    display: none;
  }

  #rightArrowNews{
    
  }

  .newsItem img{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }

  .news {
    width: 640px;
  }

  .news  p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: rgba(96, 96, 96, 1);
    margin: 10px 0;
  }
  
  .linkNewSlider{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 30px;
    width: 100%;
  }

  .header {
    margin: 2% 0 2% 0;
  }

  .mainLogo{
    width: 60px;
    height: 60px;
    margin: 0 2% 0 2%;
  }

  .textHeaderLevel1{
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    margin: 0% 0 1% 0;
  }
    
  .textHeaderLevel2 {
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    margin: 0%;
  }
  

  .banner img{
    width: 100%;
  }

  #text1 { 
    font-size: 50px;
    font-weight: 800;
    top: 25%;
  }
  
  #text2 {
    font-size: 30px;
    font-weight: 500;
    top: 50%;
  }

  #text1, #text2 {
    margin-left: 5%;
  }

  #text3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 49px;
  }
  
  #text4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    bottom: 15%;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 25px;
    font-weight: 700;
    
    margin-bottom: 20px;
  }

  .branche {
    height: 125px;
    font-size: 20px;
    font-weight: 600;
  }

  .branche img {
    width: 100%;
    height: 100%;
  }

  .linkBranche{
    margin-bottom: 20px;
    width: 48%;
  }

  .linkBranche:nth-child(11){
    width: 100%;
  }

  .news  p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: rgba(96, 96, 96, 1);
  }
  
  .news  p:nth-child(3) {
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left;
  }

  .news div img{
    max-width: 300px;
  }
  

  .announcementsItem img{
    max-width: 100%;
    height: 125px;
    border-radius: 15px;
  }

  .link {
    max-width: 155px;
  }

  .link img {
    max-width: 130px;
    max-height: 100px;
  }

  .link p{
    font-size: 12px;
    font-weight: 600;
  }

  .footer {
    width: 700px;
    font-size: 12px;
    font-weight: 500;
  }

  .footerPicture img {
    margin: 30px;
    width: 73px;
  }

  .footerMenu {
    margin: 30px 0 0 0;
  }
  
  .footerMenu div {
    margin: 0 0 20px 0;
  }
  
  .footerContacts {
    text-align: right;
    margin: 30px 50px 0 0;
  }
  .footerContacts p{
    margin: 0 0 20px 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    right: 0%;
    width: 52%;
    height: 100%;
    background-color: white;
    margin: 0;
    z-index: 10;
}

  .phoneMenu {
    height: 100%;
    margin-top: 20px;
    display: block;
  }

  .menuVisible{
    display: flex;
  }
  
  .menuHidden{
    display: none;
  }

  .dropdownMenu{
    display:grid;
    flex-direction: column;
    justify-content: start;
    height: 110px;
    border-radius: 0;
    box-shadow: none;
  }

  .submenu:hover #trigger-dropdown {
    position: relative;
}

.submenu:hover .dropdownMenu {
  display: grid;
}

  #secondItemMenu{
    margin-top: 145px;
  }

   .menuLevel1,
  .menuLevel2 {
    display: block;
    width: 100%;
    margin: 0;
  }

  .menuLevel1{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    display:flex;
    margin: 10px 0 10px 20px;
  }

  .menuLevel2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 7px 0 7px 20px;
    z-index: 2;
  }

  .headerSmallMenu{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .imagesSmallMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .textHeaderSmallMenu{
    width: 100%;
  }

  .textHeaderLevel1SmallMenu{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .textHeaderLevel2SmallMenu{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }

  .mainLogoSmallMenu{
    width: 45px;
    height: 45px;
  }

  .closeIconSmallMenu{
    width: 15px;
    height: 15px;
  }

  /* #trigger-dropdown{
    display: block;
    height: 100px;
  } */

  .containerLinks{
    margin-top: 40px;

  }
  
}


@media screen and (min-width: 340px) and (max-width: 639px){

  body{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .news{
    width: 500px;
  }

  .anonses{
    width: 500px;
  }

  .textSlider{
    margin-bottom: 20px;
  }

  .breadCrumb{
    margin: 25px 0;
  }

  .breadCrumb a{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }

  .breadCrumb .breadCrumbsSeparator {
    margin: 2px 5px;
  }

  .announcementsItem{
    width: 100%;
    overflow: hidden;
  }

  .announcementsItem img{
    width: 235px;
    height: 125px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 15px;
  }

  #leftArrowNews{
    display: none;
  }

  #rightArrowLinks{
    display: flex;
    margin-bottom: 15px;
  }

  .headerSliderLink, .textLinks p, .textBranches p, .textNews p{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }

  .news  p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: rgba(96, 96, 96, 1);
    margin: 10px 0;
  }
  
  .linkNewSlider{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 30px;
    width: 100%;
  }

  .news img{
    width: 235px;
    height: 125px;
  }

  .newsItem{
    margin-right: 20px;
  }

  .newsItem img{
    width: 235px;
    height: 125px;
    border-radius: 10px;
    object-fit: cover;
  }

  .announcementsItem{
    margin-right: 20px;
  }

  .header {
    margin: 5% 0 5% 0;
  }

  .mainLogo{
    width: 45px;
    height: 45px;
    margin: 0 2% 0 0%;
  }

  .textHeaderLevel1{
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    margin: 0% 0 1% 0;
  }
    
  .textHeaderLevel2 {
    font-size: 6px;
    font-weight: 400;
    line-height: 7px;
    margin: 0%;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}

  .phoneMenu {
    width: 33px;
    height: 100%;
    margin-top: 20px;
    display: block;
  }

  .textBranches{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .branche {
    height: 125px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }

  .branche img {
    width: 100%;
    height: 100%;
  }

  .linkBranche{
    margin-bottom: 20px;
    width: 48%;
  }

  

  .linkBranche:nth-child(5),
  .linkBranche:nth-child(10){
    width: 100%;
  }

  .banner img{
    margin-left: -350%;
  }

  #text1 { 
    font-size: 30px;
    font-weight: 800;
    top: 75%;
  }
  
  #text2 {
    font-size: 20px;
    font-weight: 500;
    top: 85%;
  }

  #text1, #text2 {
    margin-left: 5%;
  }

  #text3 {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    line-height: 20px;
  }
  
  #text4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    bottom: 20%;
  }

  .footer {
    flex-wrap: wrap;
    width: 320px;
    font-size: 12px;
    font-weight: 500;
  }

  .footerPicture img {
    margin: 26px 0 0 11px;
    width: 67px;
  }

  .footerMenu {
    order: 2;
    margin: 0 11px;
  }
  
  .footerMenu div {
    margin-bottom: 15px;
  }
  
  .footerContacts {
    margin: 20px 11px 0 0;
    order: 1;
    text-align: right;
  }
  
  .footerContacts p{
    margin-bottom: 15px;
  }

  .containerLinks{
   margin-bottom: 25px;
   margin-top: 40px;
  }

  .containerLink{
    overflow: hidden;
  }

  .link {
    max-width: 110px;
  }

  .link img {
    max-width: 105px;
    max-height: 100px;
    margin-bottom: 20px;
  }

  .link p{
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    max-width: 120px;
  }

  #rightArrowLinks{
    display: flex;
    margin-bottom: 15px;
  }

  .menuVisible{
    display: flex;
  }

  .menuHidden{
    display: none;
  }

  .dropdownMenu{
    display:grid;
    border-radius: 0;
    box-shadow: none;
  }

  .submenu:hover #trigger-dropdown {
    position: relative;
}

  #secondItemMenu{
    margin-top: 165px;
  }

   .menuLevel1,
  .menuLevel2 {
    display: block;
    width: 100%;
    margin: 0;
  }

  .menuLevel1{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    display:flex;
    margin: 10px 0 10px 20px;
  }

  .menuLevel2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 7px 0 7px 20px;
    z-index: 2;
  }

  .headerSmallMenu{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .imagesSmallMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .textHeaderSmallMenu{
    width: 100%;
  }

  .textHeaderLevel1SmallMenu{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px;
  }

  .textHeaderLevel2SmallMenu{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }

  .mainLogoSmallMenu{
    width: 45px;
    height: 45px;
  }

  .closeIconSmallMenu{
    width: 15px;
    height: 15px;
  }

  .menu {
    
    flex-direction: column;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100%;
    background-color: white;
    margin: 0;
    z-index: 10;
}

  .phoneMenu {
    height: 100%;
    margin-top: 20px;
    display: block;
  }
}